body {
    background-color: lightyellow;
    margin: 5px;
}

textarea {
    width: 600px;
    height: 200px;
}

.posttitle {
    background-color: lightgray;
}

.comment {
    background-color: cornsilk;
    margin: 2px;
}

.commentauthor {
    font-weight: bold;
}